*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  width: 100%;
  
}

:root {
  --grey:#212121;
  --blue:#136EF6;
 
}
/* ************* utility classes ****************** */

.large-heading{
  color: var(--grey);
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .1rem;
    word-spacing: .2rem;
    margin-bottom:3rem;
}   /******use with h1 tag */ 

.medium-heading{
  color: var(--grey);
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  word-spacing: .2rem;
  margin-bottom:1.2rem;
  
}                 /******use with h2 tag */ 

.small-heading{
  color: var(--grey);
    font-size:2.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    margin-bottom: 1.2rem;
}      /******use with h3 tag */ 

.ex-small-heading{
  color: var(--grey);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: .1rem;
  word-spacing: .1rem;
  margin-bottom: .4rem ;
} /******use with h4 tag */ 

p{
  color: var(--grey);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
  word-spacing: .1rem;
  margin:0px !important;
}
button{
  color: white !important;
  font-size: 1.8rem !important;
  background-color: var(--blue) !important;
  padding: .5rem 1.5rem !important;
  border-radius: .5rem !important;

  transition:all .4s ease-in-out !important;
}
button:hover{
  background-color: var(--grey) !important;

}
.anchor{
  color: white;
  text-decoration: none;
  font-size: 2rem !important;
  font-weight: 500;
  letter-spacing: .1rem !important;
}
.anchor:hover{
  color: white !important;
  text-decoration: none;
}



/* ############################### decorating navbar of the website ########################################## */

.navbar-head{
  background-color: white !important;
}

.navbar-brand{
  color: var(--grey)!important;
  font-size: 2.8rem !important;
    font-weight: 600 !important;
    
}
.navbar-brand img{
  width: 5rem;
  height: 5rem;
}
.navbar-toggler{
  font-size: 1rem !important;
}
.navbar-brand span{
 color: var(--blue) !important;
}
.nav-link{
  color: var(--grey)!important;
  font-size: 1.8rem !important;
  margin-left: 1rem !important;
  transition:all .4s ease-in-out !important;
}
.nav-link:hover{
color: var(--blue) !important;
}

/* ############################### decorating home of the website ########################################## */

.home{
  height: 87vh;
}
.home-row{
  height: 500px;
}

.home-right,.home-left{
  height: 80%;
}
.home-heading span{
  color:var(--blue);
}
.home-heading p{
  font-size: 2rem !important;
  margin-bottom: 2rem !important;
}


.home-right img{
  height: 32rem;
  animation:up-down 2s linear infinite alternate ;
}

@keyframes up-down{
  from{
      transform: translatey(.2rem);
  }
  to{
      transform:translatey(-.2rem);
  }
}

/* ############################### decorating about of the website ########################################## */
.about-heading{
  margin: 2rem 0px !important;
}
.about-heading p{
  margin-top: 3rem !important;
}
.about-heading span{
  color: var(--blue);
}
.about-border{
  width: 25rem !important;
  height: 1px !important;
  background-color: rgb(161, 161, 161)!important;
  margin-bottom: 4rem !important;
}

.developer-img{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
.mentor{
  margin-top: 1rem !important;
}
.mentor p{
  font-size: 1.4rem !important;
}
.mentor-col{
  margin-top: 2rem !important;
}


.company-row{
  margin: 5rem 0px !important;
}
.company-img{
  width: 11rem !important;
  height: 7rem !important;
}


/* ##################### decorating courses section of the website ############################### */

.course-heading span{
  
    color: var(--blue);
}
.courses-card-row{
  margin: 1rem 0px 3rem 0px!important;
}

.courses-card{
  border: 2px solid rgb(165, 165, 165) !important;
  border-radius: .5rem !important;
  width: 27rem !important;
  height:38rem !important;
  position: relative;
}
.courses-card img{
  
  border-top-left-radius: .3rem !important;
  border-top-right-radius: .3rem !important;
  height: 55% !important;
 
}
.courses-card h4{
  
margin-bottom: 1rem !important;
 
}
.courses-card .card-text{
  font-size: 1.4rem !important;
  color: rgb(110, 108, 108);
}
.courses-card button{
  position: absolute;
  bottom: 2%;
  left: 30%;
 
}
.courses-card .anchor{
 font-size: 1.6rem !important;
}

/* ################# decorating contact section of the website ################################# */

.contact h2{
  margin: 3rem 0px !important;
}
.contact h2 span{
  color: var(--blue);
}
.form-enclosure{
  height: 60vh !important;
  margin-bottom: 8rem !important;
}

form{
  width: 60% !important;
}
.form-group{
  margin-bottom: 2rem !important;
}
input{
  font-size:2rem !important ;
 
}
.password-hint{
  font-size: 1.2rem !important;
}
.error-text{
 margin-bottom: 3rem !important;
}




/* ************************* applying media query for diifernt devices ************************** */

/* ################# media query for large devices ############################ */

@media (min-width:992px) and (max-width:1200px){
  .large-heading{
      font-size: 3rem;
      
  }   /******use with h1 tag */ 

  /* ****** courses section****** */
  .courses-card{
    height:42rem !important;
  }
}

/* ################# media query for medium devices ############################ */

@media (min-width:768px) and (max-width:991px){
  html{
    font-size: 56.25%;
  }
  .large-heading{
    margin: 3rem 0px 1rem 0px !important;
    font-size: 2.8rem;
    
}   /******use with h1 tag */ 
  .medium-heading{
    font-size: 2.6rem;
    letter-spacing: normal;
    word-spacing: normal; 
  } 



/* ***** about section ****** */

.company-row{
  margin-top: 11rem !important;
}

/* ***** courses section****** */
.courses-card{
  width: 30rem !important;
  height:40rem !important;
}



}

/* ################# media query for small devices ############################ */

@media (min-width:576px) and (max-width:767px){
  html{
    font-size: 56.25%;
  }
  .large-heading{
    font-size: 3rem; 
}   /******use with h1 tag */ 

  .medium-heading{
    font-size: 2.6rem;
    letter-spacing: normal;
    word-spacing: normal; 
  } 

  .ex-small-heading{
    font-size: 2rem;
  } /******use with h4 tag */ 

  /* ***** navbar section ****** */
  .navbar-brand img{
    width: 4rem;
    height: 4rem;
  }
     /* ***** home section ****** */
  .home-right {
    height: 65%;
  }
.home-left{
    height: 40% !important;
  }
  /* ****** about section****** */
  .developer-img{
    width: 32vw !important;
    border-radius: 50%;
  }
  .company-img{
    width: 9rem !important;
    height: 7rem !important;
  }
/* ***** courses section****** */
  .courses-card{
    width: 28rem !important;
    height:40rem !important;
  }
  
 
}

/* ################# media query for extra small devices ############################ */
@media (min-width:456px) and (max-width:575px){
  html{
    font-size: 50%;
  }
  .large-heading{
    font-size: 3.2rem;
    
}   /******use with h1 tag */ 
  .medium-heading{
    font-size: 2.5rem;
    letter-spacing: normal;
    word-spacing: normal; 
  } 
  .ex-small-heading{
    font-size: 2rem !important;
  } /******use with h4 tag */ 
p{
  font-size: 1.8rem !important;
}
button{ 
  font-size: 2rem !important;
}
 /* ***** navbar section ****** */
 .navbar-toggler{
  font-size: 1rem !important;
 }
  /* ****** home section****** */
  .home-right {
    height: 60%;
  }
.home-left{
    height: 40% !important;
  }
  /* ****** about section****** */
  .developer-img{
    width: 23.5rem !important;
    border-radius: 50%;
  }
  .company-img{
    width: 9rem !important;
    height: 7rem !important;
  }
  .mentor p{
    font-size: 1.6rem !important;
  }

/* ***** courses section****** */
.course-heading{
  font-size: 3.2rem !important;
}
  .courses-card{
    width: 30rem !important;
    height:40rem !important;
  }

  .courses-card .card-text{
    font-size: 1.8rem !important;
  }


  /* ***** contact section****** */
  .contact h2{
    margin-top: 4rem !important;
    font-size: 3rem !important;
  }
  
}

/* ################# media query for portrait mode ############################ */
@media (max-width:455px){
  html{
    font-size: 50%;
  }
  .large-heading{
    font-size: 3rem;
    
}   /******use with h1 tag */ 
  .medium-heading{
    font-size: 2.5rem;
    letter-spacing: normal;
    word-spacing: normal; 
  } 
  .ex-small-heading{
    font-size: 2rem !important;
  } /******use with h4 tag */ 

  p{
    word-spacing: normal !important;
   font-size: 1.8rem !important;
  }

 
  .nav-link{
   
    font-size: 2rem !important;
  }
 /* ***** navbar section ****** */
 .navbar-brand{
  color: var(--grey)!important;
  font-size: 3rem !important;
    font-weight: 600 !important;
    
}
.navbar-brand img{
  width: 4.5rem;
  height: 4.5rem;
}
 .navbar-toggler{
  font-size: .8rem !important;
 }
   /* ****** home section****** */
  .home-right {
    height: 60%;
  }
.home-left{
    height: 45% !important;
  }
   /* ****** about section****** */
   .about-border{
    width: 18rem !important;
    height: 1px !important;
    background-color: rgb(161, 161, 161)!important;
    margin-bottom: 4rem !important;
  }
   .developer-img{
    width: 23.5rem !important;
    border-radius: 50%;
  }
  .company-img{
    width: 8rem !important;
    height: 6rem !important;
  }
  .mentor p{
    font-size: 1.6rem !important;
    letter-spacing: normal !important;
  }
  
/* ***** courses section****** */
.course-heading{
  margin-top: 3rem !important;
  font-size: 2.8rem !important;
}
  .courses-card{
    width: 30rem !important;
    height:40rem !important;
  }

  .courses-card .card-text{
    font-size: 1.8rem !important;
  }
/* ***** contact section****** */
  .contact h2{
    margin-top: 4rem !important;
    font-size: 3rem !important;
  }
  .form-enclosure{
    height: 65vh !important;
  }
  form{
    width: 70% !important;
  }
}


/* ################# media query for landscape mode ##########################*/
@media (max-height:455px) and (orientation:landscape){
  html{
    font-size: 50%
  }
 .navbar-brand{
   font-size: 3rem !important;
 }
 .nav-link{
   font-size: 2rem !important;
 }
 
/* ***** home section****** */ 
.home-right{
    margin-top: 14rem!important;
  }

  .home-right img{
   height: 28rem;
  }

  
/* ***** contact section****** */
  .form-enclosure{
    height: 82vh !important;
  }
.footer{
  display: none;
}
}